<div class="jumbotron text-center bg">
    <div class="container text-center" style="margin-top: 70px;">
        <h1>Co'Work</h1>
        <h2>Partage & Location</h2>
        <p>Pour quelques euros de l'heure, c'est simple!</p>

        <div *ngIf="!isUserLoggedIn" class="container" style="margin-top: 50px;">
            <button class="btn btn-primary" routerLink="/login" style="margin-left: 10px;" type="button">Se connecter
                !
            </button>
            <button class="btn btn-primary" routerLink="/register" style="margin-left: 10px;" type="button">S'inscrire
            </button>

        </div>

    </div>
</div>
<cow-spaces-list></cow-spaces-list>
<p>Créée en 2011, Co'Work propose six espaces de travail collaboratif à Paris (Bastille,République, Odéon, Place d'Italie, Ternes et Beaubourg)</p>
