<!-- Recherche/Filtre -->

<form action="" class="row">
    <div class="form-group col-md-3">
        <label for="space-type-filter">Type d'espace</label>
        <select (ngModelChange)="filters.type.value = $event; onFilterFormChanges()" [(ngModel)]="filters.type.value"
                class="form-control"
                id="space-type-filter" name="space-type">
            <option [value]="null" selected>Tous</option>
            <option value="BUBBLE">Bubble</option>
            <option value="PRIVATE">Private</option>
            <option value="OPEN">Open</option>
        </select>
    </div>

    <div class="form-group col-md-3">
        <label for="zip-code-filter">Code postal</label>
        <select (ngModelChange)="filters.zipCode.value = $event; onFilterFormChanges()"
                [(ngModel)]="filters.zipCode.value"
                class="form-control"
                id="zip-code-filter" name="space-type">
            <option [value]="null" selected>Tous</option>
            <option *ngFor="let zipCode of zipCodes | async" [value]="zipCode">{{zipCode}}</option>
        </select>
    </div>

    <div class="form-group col-md-6">
        <label for="building-filter">Building</label>
        <select (ngModelChange)="filters.building.value = $event; onFilterFormChanges()"
                [(ngModel)]="filters.building.value"
                class="form-control"
                id="building-filter" name="space-type">
            <option [value]="null" selected>Tous</option>
            <option *ngFor="let building of buildings | async" [value]="building.id">{{building.name}}
                - {{building.city.name}} {{building.city.zipCode}}, {{building.address}}</option>
        </select>
    </div>

    <div class="form-group col-md-6">
        <ng5-slider (userChange)="onFilterFormChanges()" [(highValue)]="filters.priceMax.value"
                    [(value)]="filters.priceMin.value" [options]="{
        floor: minPrice | async,
        ceil: maxPrice | async,
        step: 10,
        translate: sliderText
    }"></ng5-slider>
    </div>
</form>


<!-- Liste des espaces de coworking -->
<div class="row">
    <div *ngFor="let space of spaces | async" routerLink='/spaces/{{space.id}}' class="col-md-4">
        <div style="margin-top: 70px;" id="ads">

            <!-- CAffiche le prix de base -->
            <div>
                <div class="card rounded">
                    <img class="card-img-top" [src]="imageService.get(space.imageUrl)"
                         [alt]="space.imageCredit"/>
                    <div class="card-image">
                        <span class="card-notify-badge">Apd {{ space.price }} €</span>
                    </div>

                    <div class="card-body text-center">
                        <div class="ad-title m-auto">
                            <!-- Récupère le nom de chaque espace -->
                            <h5>{{ space.name }}</h5>
                            <h6>{{ space.type }}</h6>
                            <p style="color: #bf062d;">{{ space.area }}m² - {{ space.peopleCapacity }} pers. max </p>
                        </div>


                        <div>
                            <button type="button" class="btn btn-primary">consulter
                            </button>
                        </div>

                        <div class="container">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <p class="col-md-12" *ngIf="(spaces | async)?.length == 0"><strong>Aucun bureau ne correspond à votre
        recherche.</strong></p>
    <go-top-button [animate]="true"
                   [speed]="50"
                   [acceleration]="2">
        <span class='fa fa-arrow-up'></span>
    </go-top-button>
</div>
