<div class="image-container set-full-height">

    <!--   Big container   -->
    <div *ngIf="space" class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <!-- Wizard container -->
                <div class="card wizard-card" data-color="red" id="wizard">
                    <div class="wizard-header">
                        <h3 class="wizard-title">
                            {{space.name}}
                        </h3>
                        <h5>
                            {{space.building.name}}
                        </h5>

                        <h6>
                            {{space.building.address}} -
                            {{space.building.city.zipCode}}
                            {{space.building.city.name}} </h6>

                    </div>

                    <img [alt]="space.imageCredit" [src]="imageService.get(space.imageUrl)" class="img-fluid">

                    <div class="tab-content">
                        <div id="details">
                            <div class="row">

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card" style="margin:50px 0">


                                                <div class="card-header">Description</div>

                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        {{space.description}}
                                                    </li>
                                                    <li class="list-group-item">
                                                        WIFI GRATUIT
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="wizard-footer">
                        <div *ngIf="!isUserLoggedIn">
                            <p>Veuillez vous connecter afin de pouvoir réserver.</p>
                            <button [queryParams]="{returnUrl: 'spaces/' + space.id + '/reservation' }"
                                    class="btn btn-primary" routerLink="/login" style="margin-left: 10px;"
                                    type="button">Se connecter
                            </button>
                            <button [queryParams]="{returnUrl: 'spaces/' + space.id + '/reservation' }"
                                    class="btn btn-primary" routerLink="/register" style="margin-left: 10px;"
                                    type="button">S'inscrire
                            </button>
                        </div>
                        <div *ngIf="isUserLoggedIn" class="pull-right">
                            <button class='btn btn-next btn-fill btn-danger btn-wd'
                                    routerLink="/spaces/{{space.id}}//reservation"
                                    type='button'>"Réserver"
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!--  big container -->
</div>
